.contact {
  &__info {
    margin: 10px 0 20px;
    text-align: center;
  }
  form {
    @include flex(column, flex-start, center);
    max-width: 500px;
    margin: 0 auto;
  }
  &__inputGroup {
    @include flex(column, flex-start, flex-start);
    width: 100%;
    margin-bottom: 15px;
  }
  &__socials {
    @include flex(column, flex-start, flex-start);
    margin: 100px auto 20px;
    max-width: 500px;
    h5 {
      margin-bottom: 20px;
    }
    li {
      margin: 10px 0;
    }
    a,
    p {
      @include flex(row, flex-start, center);
      font-size: 18;
      span {
        color: $secondary;
        font-size: 30px;
        margin-right: 10px;
      }
      &:hover p,
      .contact__email {
        opacity: 0.6;
      }
    }
  }

  &__field {
    width: 80%;
    margin: 10px auto 7.5px;
    padding: 5px 10px;
    border-radius: 4px;
    font-size: 18px;
    background: none;
    border: none;
    resize: none;
    outline: transparent;
    @include boxshadow;
    &:focus + label {
      color: $secondary;
    }
    &--isFilled {
      color: $secondary;
    }
  }
  &__err,
  &__succ {
    opacity: 0;
    pointer-events: none;
    &--show {
      opacity: 1;
    }
  }
  &__err {
    color: red;
  }
  &__succ {
    color: green;
  }
  &__label {
    order: -1;
    margin-left: 10%;
  }
  .btn {
    margin: 30px 0;
    font-size: 20px;
  }
}

@media (min-width: 1024px) {
  .contact {
    .page__wrap {
      @include flex(row, space-evenly, flex-start);
    }

    form {
      @include flex(column, flex-start, center);
      width: 80%;
      max-width: 500px;
      margin: 0;
    }
    input,
    textarea {
      width: 100%;
    }
    &__inputGroup {
      @include flex(column, flex-start, flex-start);
      width: 80%;
      margin-bottom: 15px;
    }
    &__label {
      order: -1;
      margin-left: 0;
    }
    &__socials {
      @include flex(column, flex-start, flex-start);
      margin: 0;
      width: 100%;
      max-width: 500px;
    }
  }
}
