html {
  font-family: Montserrat, arial, sans-serif;
  background-color: $main;
  scroll-behavior: smooth;
  color: $font;
}
body {
  display: flex;
  flex-direction: column;
}
.container {
  max-width: 1300px;
  margin: 0 auto;
}
h1 {
  font-size: 28px;
}
h3 {
  font-size: 22px;
}
h5 {
  font-size: 18px;
}
p {
  font-weight: 300;
  line-height: 1.5;
  font-size: 16px;
}
.page {
  padding: 50px 15px 15px;
  overflow: hidden;
  &__wrap {
    padding-top: 25px;
  }
  &__title {
    display: inline-block;
    position: relative;
    transform: translateX(-200px);
    margin-bottom: 30px;
    &--isActive {
      transform: translateX(0);
    }
    &::before {
      content: "";
      position: absolute;
      height: 8px;
      background-color: $secondary;
      bottom: 0;
      width: 100%;
      z-index: -1;
    }
  }
}
.shade {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  visibility: hidden;
  z-index: 900;
  &--menuIsOpen {
    visibility: visible;
  }
}
li {
  list-style-type: none;
}
a {
  text-decoration: none;
}
button {
  cursor: pointer;
  border: 0;
  background: 0;
  outline: none;
}
.btn {
  @include boxshadow;
  text-align: center;
  padding: 15px 0;
  width: 200px;
  transition: 0.275s ease-in-out;
  background-color: $main;
  z-index: 2;
  &:hover span {
    opacity: 0.6;
  }
}
html::-webkit-scrollbar-track {
  background-color: $main;
}
html::-webkit-scrollbar {
  width: 10px;
}
html::-webkit-scrollbar-thumb {
  background-color: $secondary;
}

@media (min-width: 768px) {
  .page {
    padding: 50px 30px 15px;
  }
  h1 {
    font-size: 36px;
  }
  h3 {
    font-size: 28px;
  }
  h5 {
    font-size: 22px;
  }
  p {
    font-size: 18px;
  }
}

@media (min-width: 768px) {
  .page {
    &__title {
      margin-bottom: 60px;
    }
  }
}

@media (min-width: 1310px) {
  .page {
    padding: 50px 0 15px;
  }
}
