.header {
  position: fixed;
  width: 100%;
  z-index: 1000;
  &--isHighlights {
    box-shadow: 0 1px 3px rgba(255, 255, 255, 0.2);
  }
  &__wrap {
    @include flex(row, space-between, center);
    height: 80px;
    padding: 10px 15px;
    background-color: $main;
    width: 100%;
    max-width: 1300px;
    margin: 0 auto;
  }
  &__logo {
    height: 100%;
    width: 200px;
    a {
      display: flex;
      align-items: center;
    }
    img {
      height: 100%;
      max-height: 55px;
    }
    p {
      font-family: "Russo One", arial, sans-serif;
      font-size: 28px;
      margin-left: 10px;
      color: $secondary;
      span {
        color: grey;
      }
      display: none;
    }
  }
  &__bars {
    @include flex(column, space-between, flex-start);
    width: 50px;
    height: 30px;
    border: none;
    background: none;
    overflow: hidden;
    border-radius: 0;
    &:hover .header__bar:nth-child(1) {
      transform: translateX(0);
      background-color: $light;
    }
  }
  &__bar {
    height: 4px;
    width: 100%;
    background-color: $light;
    border-radius: 10px;
    &:nth-child(1) {
      transform: translateX(-50%);
      background-color: $secondary;
    }
  }
}
@media (min-width: 768px) {
  .header {
    &__wrap {
      padding: 10px 25px;
    }
    &__logo {
      p {
        display: inline;
      }
    }
  }
}
@media (min-width: 1024px) {
  .header {
    &__bars {
      display: none;
    }
  }
}
@media (min-width: 1310px) {
  .header {
    &__wrap {
      padding: 10px 0;
    }
  }
}
