.project {
  width: 320px;
  @include boxshadow;
  margin: 0 10px 50px;
  opacity: 0;
  transform: translateY(50%);
  transition: 1s ease-in-out;
  &--show {
    opacity: 1;
    transform: translateY(0);
  }
  &:hover &__title,
  &:hover &__subtitle {
    opacity: 0;
    pointer-events: none;
  }
  &:hover &__shade {
    opacity: 0.2;
  }
  &__image {
    position: relative;
    padding: 10px;
    width: 100%;
    overflow: hidden;
    img {
      position: relative;
      top: 0;
      width: 100%;
      object-fit: contain;
    }
  }
  &__title,
  &__subtitle,
  &__progress {
    position: absolute;
    z-index: 2;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  &__title {
    top: 40%;
    font-size: 30px;
  }
  &__subtitle {
    text-align: center;
    width: 90%;
    top: 60%;
  }
  &__progress {
    top: 70%;
    background-color: rgba(0, 0, 0, 0.5);
    text-transform: uppercase;
    margin-top: 15px;
    width: 100%;
    text-align: center;
  }
  &__shade {
    position: absolute;
    top: 0;
    height: 100%;
    width: 100%;
    z-index: 1;
    opacity: 0.8;
    background-color: $main;
  }
  &__btns {
    @include flex(row, space-between, center);
    padding: 20px;
    .btn {
      padding: 7.5px 0;
      width: 45%;
      &:hover span {
        opacity: 0.6;
      }
      span:nth-child(2) {
        color: $secondary;
      }
    }
  }
}
.project--app {
  width: 250px;
  .project__title {
    width: 90%;
    text-align: center;
  }
  .project__image {
    height: 300px;
    img {
      height: 100%;
    }
  }
}

@media (min-width: 1024px) {
  .project {
    width: 500px;
    .btn {
      padding: 15px 0;
    }
  }
  .project--app {
    width: 300px;
    .project__image {
      height: 450px;
      img {
        height: 100%;
      }
    }
  }
}
